body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}
.nav_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav_menu_item {
    margin-right: 30px;
}
.logo_link {
    display: inline-block;
    margin-right: 50px;
}
.nav_menu_link {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}
.date {
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 38px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.hero_text {
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8)
}
.film_logo {
    margin-bottom: 40px;
}
.button {
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.button-group {
    margin-top: 70px;
}
.button_primary {
    background-color: #FFFFFF;
    color: #8D0019;
    ;
}
.button_text {
    font-size: 14px;
    line-height: 16px;  
    margin-left: 10px;
}
.button_icon, .button_text {
    display: inline-block;
    vertical-align: middle;
}
.button_link {
    color: #fff;
}
.venom {
    position: absolute;
    right: 0;
    top: 0;
}
.blood {
    background: url("../img/blood.png") no-repeat top right, #14131A url("../img/image.jpg") no-repeat center center /100%;
}